body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border: 2px solid red;
    padding: 10px;
    float: right;
}

.name p {
    width: 300px;
}

h1 {
    font-style: italic;
    width: 300px;
}

h1, h2, h3, th, p {
    font-weight: bold;
}

h1, h2, h3, p {
    border-bottom: 2px solid red;
}

h2, h3 {
    text-decoration: underline;
}

h3 {
    text-align: right;
    padding-right: 30px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid grey;
    text-align:center;
    background: #b1a7a7;
} 

td {
    background: #d9cece;
}

th {
    text-transform: uppercase;
}

a:link {
    color: #00f;
    text-decoration: underline;
}

a:visited {
    color: #005;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    margin-right: 10px;
    float: right;
}