body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

header p {
    font-size: 30px;
    line-height: 10px;
}

header, nav, section {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

img {
    margin-top: 12px;
    width: 690px;
    height: 120px;
}

h1, main a {
    background: #424C55;
    color: #F5EDF0;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    margin: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 54px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

section div a {
    width: 360px;
    height: 55px;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0 0 10px;
    display: inline-block; 
    position: relative;
    top: 355px;
    text-align: left;
}

a:hover {
    background: #8895A0;
}

section div {
    width: 100%;
    height: 447px;
    border-radius: 10px;
}

.metric {
    background: url(img/Rectangle_1.jpg) 0 0 / cover  no-repeat;
}

.brend {
    background: url(img/Rectangle_2.png) 0 0 / cover no-repeat;
}

.suvenir {
    background: url(img/Rectangle_3.png) 0 0 / cover no-repeat;
}