body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

header p {
    font-size: 30px;
    line-height: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

img {
    margin-top: 12px;
    width: 690px;
    height: 120px;
}

    /* main */

h1, nav a {
    background: #424C55;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 65px;
    color: #F5EDF0;
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    margin: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
}
main a {
    font-size: 36px;
    height: 55px;
    padding-top: 10px;
    text-decoration: none;
}

a:hover {
    background: #8895A0;
}

.metric {
    width: 33%;
    height: 447px;
    background: url(img/Rectangle\ 1.jpg);
    border-radius: 10px;
}

.brend {
    width: 33%;
    height: 447px;
    background: url(img/Rectangle\ 2.png);
    border-radius: 10px;
}

.suvenir {
    width: 33%;
    height: 447px;
    background: url(img/Rectangle\ 3.png);
    border-radius: 10px;
}

.metric a {
    background: #424C55;
    color: #F5EDF0;
    border-radius: 10px;
    width: 340px;
    height: 65px;
    font-weight: 400;
    font-size: 36px;
    position: relative;
    top: 355px;
}

.brend a {
    background: #424C55;
    color: #F5EDF0;
    border-radius: 10px;
    width: 340px;
    height: 65px;
    font-weight: 400;
    font-size: 36px;
    position: relative;
    top: 355px;
}