main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    height: 3900px;
}

main img {
    width: 50%;
}

main img:hover {
    transform: scale(1.3);
    transition: all 1s linear;
}

