main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    height: 3900px;
}

main img {
    width: 50%;
}

main img:hover {
    transform: scale(1.3);
    transition: all 1s linear;
}

@media screen and (max-width: 899px){
    main {
        height: 2800px;
    }
}

@media screen and (max-width: 610px){
    main {
        height: 5000px;
    }
}

@media screen and (max-width: 610px){
    main img {
        width: 100%;
    }
}